/* New font added */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&family=Poppins:wght@200;300;400;500&family=Roboto:wght@300;500;700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    /* New change: Changed few stylings for the layout */
    width: 100%;
    position: relative;
    /* New change: Changed background */
    /* New Chenge: background color blue to pink  */
    background: url(../assets/portfolio-p.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px;
}

.container .box {
    width: 75%;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.1);
    z-index: 10;
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    display: flex;
    backdrop-filter: blur(10px);
    box-shadow: -15px 17px 17px rgba(10, 10, 10, 0.15);
}

.container nav {
    height: 7%;
    width: 90%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px auto;
    padding: 20px;
}

.container logo {
    font-size: 32px;
    font-weight: 700;
    text-decoration: none;
    color: #000;
    margin-left: 30px;
}

.container .logo::first-letter {
    color: #6f34fe;
    font-size: 35px;
}

.container nav ul li {
    display: inline-block;
    padding: 0 20px;

}

.container nav ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #000;
    transition: 0.3s;
}

.container nav ul li a:hover {
    color: #6f34fe;

}

.content {
    position: relative;
    width: 100%;
    margin-top: 8%;
    padding-left: 80px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.content .profile-section {
    display: flex;
    justify-content: space-between;
}

.content .section-1 {
    position: relative;
    width: 40%;
}

.content .section-2 {
    position: relative;
    width: 40%;
}

.content .section-2 img {
    margin-top: 10px;
    border-radius: 12px;
}

.content .section-1 h1 {
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: 700;
    color: #000;
}

.content .section-1 h3 {
    font-size: 24px;
    color: #6f34fe;
    margin-bottom: 10px;
}

.content .section-1 p {
    font-size: 15px;
    color: #505052;
    margin-bottom: 50px;
}

.content .btn {
    padding: 15px 20px;
    border-radius: 5px;
    background-color: #6f34fe;
    border: 3px solid #6f34fe;
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s;
    color: #fff;
}

.content .btn:hover {
    background-color: #fff;
    color: #6f34fe;

}

table {
    margin-top: 10px;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.content .project-list {
    display: flex;
    gap: 30px;
    flex-direction: column;
}

iframe {
    width: 100%;
}